@import url('https://fonts.googleapis.com/css2?family=Montserrat:@1&family=Roboto:,wght@0,300;1,400&display=swap');

:root {
    --primary: white;
    --secondary:#7a44dfa6;
    --text: #1b1919;
    --sectionbg: #9e99b1;
}
* {
    box-sizing: border-box;
}
html {
    font-family: Montserrat;
    font-size: 19px;
}
body {
    margin: 0;
}
.nav {
  float: right;
  padding-top: 10px;
}
.nav a{
  color:white;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-right: 15px;
  margin-left: 50px;
  font-family: Roboto;
  font: bold;
}
.nav a:hover {
  color:blue;
  
}
h1 {
  font-family: Roboto;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
header {
  padding: 7px 45px 4px 5px;
  background-color: #4542429b;
  position: fixed;
  z-index: 2;
  width: 100%;
  backdrop-filter: blur(5px);
}
header img {
  height: 50px;
  border-radius: 40%;
  margin-left: 3%;
}
#intro {
  min-height: 100vh;
  background: linear-gradient(#535355b4, #0909098e), url(../images/f9.jpg);
  background-size: cover;
  color:rgb(133, 187, 208);
  position: relative;
}

.intro-content {
  padding-top: 22vh;
  padding-left: 8%;
}
.intro-content h1 {
  font-size: 2.0rem;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
}
.logou {
  height: 90px;
  border-radius: 20px;
 
}
.custom-shape-divider-bottom-1675262823 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.hamburger {
  color: var(--primary);
  font-size: 1.7rem;
  cursor: pointer;
  display: none !important;
}

.custom-shape-divider-bottom-1675262823 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 63px;
}

.custom-shape-divider-bottom-1675262823 .shape-fill {
  fill: #FFFFFF;
}

main section {
  padding: 50px 15% 25px 15%;
  position: relative;
}
.centered {
  text-align: center;
}
.p-despre {
border: 2px lightgrey solid;
padding: 15px;
border-radius: 8px;
background-color: #efefef;
}
.slideshow {
  width: 100%;
  height: 65vh;
  border: 2px solid var(--secondary);
  border-radius: 8px;
}
.slide {
  height: inherit;
  position: relative;
  border-radius: inherit;
}
.slide img {
height: inherit;
width: 100%;
object-fit: cover;
border-radius: inherit;
}
.slide-text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: var(--primary);
  flex-direction: column;
  text-align: center;
  background: radial-gradient(#3535383d, #00000079);
  border-radius: inherit;
  border: 2px solid var(--secondary);
  padding: 20px 12%;
  font-size: 1.3rem;
  gap: 40px;
  

}
.slide-text i {
  font-size: 3.5rem;
}

#despre > i, #galerie > i {
  position: absolute;
  font-size: 2rem;
  z-index: -2;
}
.fly1 {
  top: 8%;
  left: 20%;
  animation: icon-anim1 3s 0.5s infinite;
  color: rgb(16, 32, 112);
}
.fly2 {
  bottom: 5%;
  left: 30px;
  animation: icon-anim2 3s 0.5s infinite;
  color: rgb(16, 32, 112);
}
.fly3 {
  bottom: 48%;
  left: 10%;
  animation: icon-anim1 2s 1.2s infinite;
  color: rgb(16, 32, 112);
}
.fly4 {
  bottom: 40%;
  right: 8%;
  animation: icon-anim2 2s 0.3s infinite;
  color: rgb(16, 32, 112);
}
.fly5 {
  top: 15%;
  right: 8%;
  animation: icon-anim1 2.3s 0.8s infinite;
  color: rgb(16, 32, 112);
}
.fly6 {
  top: 5%;
  right: 20%;
  animation: icon-anim2 3s 0.4s infinite;
  color: rgb(16, 32, 112);
}
.fly7 {
  bottom: 35%;
  left: 8% ;
  animation: icon-anim1 2.8s 0.3s infinite;
  color: rgb(31, 43, 102);
}
.fly8 {
  top: 20px;
  left: 8%;
  animation: icon-anim2 2s 1s infinite;
  color: rgb(16, 32, 112);
}
.fly9 {
 bottom: 3%;
 right: 10%;
 animation: icon-anim1 2s 1s infinite;
 color: rgb(16, 32, 112);
}
footer {
  text-align: center;
  padding: 25px 10px;
  background-color: var(--sectionbg);
  color: var(--primary);
  font-size: 1.3rem;
  
}
.top-section {
  background: linear-gradient(#050331c7, #04042e81);
  min-height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  flex-direction: column;
}
#activitate {
  background: linear-gradient(#0a0740c7, #07073268),url("../images/img1.jpg");
  background-position: 0% 60%;
  background-size: cover;
  text-align: center;
  color:rgb(133, 187, 208) ;
}
#activitate{
  min-height: 50vh;
}
#servicii {
  background: linear-gradient(#0a0740c7, #07073268),url("../images/ser1.png");
  background-position: 0% 60%;
  background-size: cover;
  text-align: center;
  color: rgb(133, 187, 208);
}
#servicii {
  min-height: 50vh;
}
#contacte {
  background: linear-gradient(#0a0740c7, #07073268),url("../images/co7.png");
  background-position: 0% 60%;
  background-size: cover;
  text-align: center;
  color: rgb(133, 187, 208);
}
#contacte {
  min-height: 50vh;
}


.activitate-details {
  border: 2px solid lightgray;
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}
.activitate-details summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.3rem;
}
.activitate-details img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.activitate-imagini {
  border-top: 2px solid lightgray;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.activitate-imagini a {
 position: relative;
 height: 250px;
 width: 250px;
 top: 10px;
}

.slideshow-container {
  height: 450px;
  display: flex;
  justify-content: center;

}

.slide {
  display: none;
  position: relative;
}

.slide img {
  max-height: 100%;
  max-height: 350px;
  border: 3px solid #026670;
  box-shadow: 6px 6px 10px black;
}

.numer-slide {
  position: absolute;
  left: 10px;
  top: 10px;

}
.slideshow-cont {
  height: 400px;
  display: flex;
  justify-content: center;

}
.row {
  overflow: auto;
}

[class^="col-"] {
  float: left;

}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
.subliniat {
 text-decoration: underline#243dac;
}
.p-servicii {
  border: 2px solid lightgrey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  padding: 0px 15px 10px 15px;
  overflow: auto;
  margin-bottom: 15px;
}
.servicii img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  float: right;
  border-radius: 50%;

}
.carduri {
  margin-top: 15px;
  display:flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px 30px;
  grid-auto-rows: minmax(400px, auto);

}
.card {
  background: radial-gradient(#e4d0d0b0, #bdbdbdcc), url("../images/ser4.jpg");
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  width: 45%;
  padding: 8px;
  height: 450px;
  margin: 10px;
  float: left;
  overflow-y: scroll;
}

.card img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #026670;
}


.contact-form {
  background-color: rgba(24, 22, 22, 0.09);
  padding: 10px;
  border: 3px solid gray;
  margin: 6px;
}

.container-contacte {
 width: calc(100% - 310px);
 float: left;
}
.fb-desktop {
  float: right;
  margin-top: 90px;
}
.fb-mobile {
  display: block;
} 
.contacte-info a {
  color: var(--text) !important;
}
.img-limbaj {
  max-height: 120px;
  margin-top: 10px;
}

.img-limbaj:hover {
  transform: scale(1.1);
  transition: all linear 2s;
}
.icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 80px;
  
}
.img {
  height: 50px;
  border-radius: 40%;
  margin-left: 3%;
}


@keyframes icon-anim1 {
  0% {transform: scale(1) rotate(0deg);}
  40% {transform: scale(1.15) rotate(30deg);}
  70% {transform: rotate(-30deg);}
  100% {transform: scale(1) rotate(0deg);}
}
@keyframes icon-anim2 {
  0% { transform: translate(0, 0) scale(1);}
  50% {transform: translate(8px, 5px) scale(1.1);}
  75% {transform: translate(-5px, -8px);}
  100% { transform: translate(0, 0) scale(1);}
}




@media (max-width: 1000px) {
  .activitati img {
      float: none;
      max-width: 200px;
      display: block;
      margin: 0 auto;
  }
}

@media (max-width: 780px) {
  html {
      font-size: 18px;
  }
  main section {
      padding-left: 10px;
      padding-right: 10px;
  }
  .p-despre {
    font-size: 1.3rem;
  }
  .intro-content h1 {
      font-size: 1.3rem;
  }
  
  [class^="col-"] {
    width: 100%;
  }
  .hamburger {
      display: inline-block !important;
      position: absolute;
      top: 20px;
      right: 25px;

  }
  .nav {
      float: none;
  }
  .nav a {
      display: none;
      font-size: 1.6rem;
      font-style: bold;
  }
  .nav.mobile a {
      display: block;
      text-align: center;
      margin-bottom: 10px;
  }
 
  #intro {
      min-height: 50vh;
      background-position: 60%;
  }
  
  .activitati-imagini a{
      width: 120px;
      height: 120px;
  }
  .subliniat {
    font-size: 1.2rem;
  }
  .slideshow {
    height: 100%;
  }
 .slideshow-container {
   height: 400px;
   display: flex;
   justify-content: center;
  }
   .slide{
    max-height: 90%;
   }
   .slide img {
      max-width: 100%;
      min-height: 100% ;
   }
  .fb-desktop {
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }
  .fb-mobile {
    text-align: center;
    margin: auto;
    width: 90%;
    height: 300px;
  }
  
  .container-contacte {
    width: 100%;
    float: none;
  }
  .p-servicii {
    font-size: 1.3rem;
  }
  .carduri {
    margin-top: 15px;
    display:grid;
 

  }
  .card {
    background: radial-gradient(#e4d0d0b0, #bdbdbdcc), url("../images/ser4.jpg");
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    align-content: center;
    width: 92%;
    font-size: 1.3rem;
  }

}

